<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MemberRegister</servlet-name>
        <servlet-class>Controller.MemberRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberValidation</servlet-name>
        <servlet-class>Controller.MemberValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarSearch</servlet-name>
        <servlet-class>Controller.CarSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>Controller.AddCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCar</servlet-name>
        <servlet-class>Controller.EditCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegister</servlet-name>
        <servlet-class>Controller.StaffRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesValidation</servlet-name>
        <servlet-class>Controller.EmployeesValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeEdit</servlet-name>
        <servlet-class>Controller.EmployeeEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationCar</servlet-name>
        <servlet-class>Controller.ReservationCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>Controller.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverRegister</servlet-name>
        <servlet-class>Controller.DriverRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberModification</servlet-name>
        <servlet-class>Controller.MemberModification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedback</servlet-name>
        <servlet-class>Controller.ReplyFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberRegister</servlet-name>
        <url-pattern>/MemberRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberValidation</servlet-name>
        <url-pattern>/MemberValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarSearch</servlet-name>
        <url-pattern>/CarSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/AddCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCar</servlet-name>
        <url-pattern>/EditCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegister</servlet-name>
        <url-pattern>/StaffRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesValidation</servlet-name>
        <url-pattern>/EmployeesValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeEdit</servlet-name>
        <url-pattern>/EmployeeEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationCar</servlet-name>
        <url-pattern>/ReservationCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverRegister</servlet-name>
        <url-pattern>/DriverRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberModification</servlet-name>
        <url-pattern>/MemberModification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedback</servlet-name>
        <url-pattern>/ReplyFeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
